@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&family=Roboto:ital,wght@0,500;1,400&display=swap');
body{
      font-family: 'Comfortaa', cursive; 
      
   
    
}
::-webkit-scrollbar{
    width:0;
}

.darkbg{
    background-color:#1b0146;
}

.lightbg{
    background-color: #fcfcfc;
}

html{
    scroll-behavior: smooth;
}

@layer utilities {
    .animation-delay-2000{
        animation-delay : 2s;
    }
    .animation-delay-4000{
        animation-delay : 4s;
    }
   
}

@layer base{
    body{
        @apply  text-[#101011] tracking-wide
    }

    h1,h2,h3,h4,h5,h6{
        @apply  font-bold
    }

    h1{
        @apply text-4xl sm:text-5xl md:text-6xl 
    }

    h2{
        @apply text-3xl sm:text-4xl font-sans
    }

  

    li{
        @apply cursor-pointer
    }

    



}